:root {
--main-font-family: "Roboto", sans-serif;
--secondary-font-family: "Raleway", sans-serif;
--primary-text-color: #2e2f42;
--title-text-color: #434455;
--primary-bg-color: #ffffff;
--secondary-bg-color: #f4f4fd;
--accent-hiver-color: #4d5ae5;
--btn-hover-color: #404bbf;

}

.link{
text-decoration: none;
}

.list{
    list-style: none;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455l;
    background-color: var(#ffffff);

}

.site-logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-hiver-color);

}

.site-logo{
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-hiver-color);

}

