:root {
--main-font-family: "Roboto", sans-serif;
--secondary-font-family: "Raleway", sans-serif;
--primary-text-color: #2e2f42;
--title-text-color: #434455;
--primary-bg-color: #ffffff;
--secondary-bg-color: #f4f4fd;
--accent-hiver-color: #4d5ae5;
--btn-hover-color: #404bbf;

}

.link,
.contact-link,
.span-logo-link,
.site-logo-footer,
.site-logo,
.site-logo-span-footer,
{
text-decoration: none;
}

.list,
.link-studio{
    list-style: none;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(#ffffff);

}

.site-logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.site-logo{
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-hiver-color);

}

.span-logo-link{
    color: var(--primary-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);

}

.site-logo-span-footer{
    color: var(--secondary-bg-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.contacts{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

}

.menu-nav-studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

}

.menu-nav-studio:hover {
color: #404bbf
}

.menu-nav-studio:focus {
    color: #404bbf
}


.footer{
background-color: var(--primary-text-color);
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-hiver-color);

}

.link-studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    color: #404bbf;

}

.link-studio :focus,
.link-portfolio,
.link-contacts{
    color: #404bbf;
}

.link-studio, 
.link-portfolio :focus{ 
color: #404bbf;

}

.link-studio,
.link-portfolio :hover{
color: #404bbf;
}

.link-portfolio{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        color: #404bbf;
}

.link-contacts{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        color: #404bbf;
}

.about-projects{
    .background-color: #2e2f42;
}

.title-projects-what-do{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}